* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max_width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    transition: 0.5s ease;
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family:Verdana, sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 30px 0;
    background: crimson;
}

.navbar .max_width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: crimson;
}

.navbar.sticky .logo a span {
    color: #fff ;
    transition: all 0.3s ease;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color:crimson;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}
/* end of navbar styling */

/* menu_btn styling */
.menu_btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* scroll_up_btn styling */
.scroll_up_btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll_up_btn.show {
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}

/* section similar styling */
.about, .services, .skills, .team, .contact, footer {
    font-family: Arial, Helvetica, sans-serif;
}

.about .about_content,
.services .services_content,
.skills .skills_content,
.contact .contact_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 100px 0;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 12px;
    font-weight: 300;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
/* end of similar section styling */

/* HOME section styling */
.home {
    display: flex;
    background: url("images/04.jpg") center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family:Verdana, sans-serif;
}

.home .max_width {
    margin: auto 0 auto 40px;
}

.home .home_content .text_1{
    font-size: 27px;
}

.home .home_content .text_2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home_content .text_3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home_content .text_3 span {
    color: crimson;
    font-weight: 500;
}

.home .home_content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home_content a:hover {
    font-weight: 650;
    color: #fff;
    background: none;
}
/* end of HOME section styling */

/* ABOUT section styling */
.about .title::after {
    content: "Who am I";
}

.about .about_content .left {
    width: 45%;
}

.about .about_content .left img {
    margin-top: 30px;
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.about .about_content .right {
    width: 48%;
}

.about .about_content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about_content .right .text span {
    color: crimson;
}

.about .about_content .right p {
    text-align: justify;
}

.about .about_content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about_content .right a:hover {
    font-weight: 650;
    color: crimson;
    background: none;
}
/* end of ABOUT styling */

/* SERVICES section styling */
.services, .team {
    color: #fff;
    background: #111;
}

.services .title::before,
.team .title::before {
    background: #fff;
}

.services .title::after, 
.team .title::after {
    background: #111;
    content: "What I provide";
}

.services .services_content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    
}

.services .services_content .card:hover {
    background-color: crimson;
}

.services .services_content .card .box {
    transition: all 0.3s ease;
}

.services .services_content .card:hover .box {
    transform: scale(1.05);
}

.services .services_content .card i {
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.services .services_content .card:hover i{
    color: #fff;
}

.services .services_content .card .text {
    font-size: 25px;
    font-weight: 500px;
    margin: 10px 0 7px 0;
}
/* end of SERVICES section styling */

/* SKILLS section styling */
.skills .title::after {
    content: "What I know";
}

.skills .skills_content .column {
    width: calc(50% - 30px);
}

.skills .skills_content .left .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills_content .left p {
    text-align: justify;
}

.skills .skills_content .left a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skills .skills_content .left a:hover {
    font-weight: 650;
    color: crimson;
    background: none;
}

.skills .skills_content .right .bars {
    margin-bottom: 15px;
}

.skills .skills_content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills_content .right span {
    font-size: 18px;
    font-weight: 500;
}

.skills .skills_content .right .line {
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skills_content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills .skills_content .right .html::before {
    width: 90%;
}

.skills .skills_content .right .css::before {
    width: 60%;
}

.skills .skills_content .right .javascript::before {
    width: 80%;
}

.skills .skills_content .right .php::before {
    width: 50%;
}

.skills .skills_content .right .mysql::before {
    width: 70%;
}
/* end of SKILLS section styling */

/* team section styling */
.team .title::after {
    content: "Who with Me";
}

.team .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.team .carousel .card:hover {
    background: crimson;
}

.team .carousel .card .box {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

.team .carousel .card:hover .box {
    transform: scale(1.05);
}

.team .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.team .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
}

.team .carousel .card:hover img {
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: crimson!important;
}
/* end of TEAM section styling */

/* CONTACT section styling */
.contact .title::after {
    content: "Get in touch";
}

.contact .contact_content .column {
    width: calc(50% - 30px);
}

.contact .contact_content .text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact .contact_content .left p {
    text-align: justify;
}

.contact .contact_content .left .icons {
    margin: 10px 0;
}

.contact .contact_content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact_content .row .info {
    margin-left: 30px;
}

.contact .contact_content .row i {
    font-size: 25px;
    color: crimson;
}

.contact .contact_content .info .head {
    font-weight: 500;
}

.contact .contact_content .info .sub_title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}
.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
    
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;
}

.contact .right form .button button:hover {
    color: crimson;
    background: none;
    
}
/* end of CONTACT section styling */

/* FOOTER section styling */
footer {
    background: #111;
    padding: 23px;
    color: #fff;
}

footer span a {
    color: crimson;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}
/* end of FOOTER section styling */

/* responsive media query start */
@media ( max-width: 1300px ) {
    .home .max_width {
        margin-left: 0px;
    }
}

@media ( max-width: 1140px ) {
    .about .about_content .left img {
        height: 350px;
        width: 350px;
        transition: all 0.3s ease;
    }

    .about .about_content .right {
        flex: 100%;
    }

    .about .about_content .column {
        width: 100%;
    }

    .about .about_content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
        transition: all 0.5s ease;
    }
}

@media ( max-width: 991px ) {
    .max_width {
        padding: 0 50px;
        transition: 0.5s ease;
    }
}

@media ( max-width: 940px ) {
    .menu_btn {
        display: block;
        z-index: 999;
    }

    .menu_btn i.active:before {
        content: "\f00d";
    }

    /* navbar styling */
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
        transition: all 0.5s ease;
    }

    .navbar .menu li {
        display: block;
        
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    /* home section styling */
    .home .home_content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    /* about section styling */
    .max_width {
        max-width: 800px;
    }

    /* services section styling */
    .services .services_content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills_content .column,
    .contact .contact_content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media ( max-width: 690px ) {
    .max_width {
        padding: 0 23px;
        transition: 0.5s ease;
    }

    .home .home_content .text_2{
        font-size: 60px;
    }
    
    .home .home_content .text_3{
        font-size: 32px;
    }

    .home .home_content a {
        font-size: 20px;
    }
    .services .services_content .card {
        width: 100%;
    }
}

@media ( max-width: 500px ) {
    .home .home_content .text_2{
        font-size: 50px;
    }
    
    .home .home_content .text_3{
        font-size: 25px;
    }

    .home .home_content a {
        font-size: 23px;
        padding: px 30px;
    }
}